/*------------------------------------*\
    $COLLAPSED ANCHOR
\*------------------------------------*/
@mixin menu-anchor-collapse() {
  transition: opacity 350ms ease-in-out, max-height 350ms ease-in-out;
  border-width: 0;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  padding-bottom: 0;
  padding-top: 0;
}

@mixin menu-anchor-reveal() {
  border-width: auto;
  max-height: 100%;
  opacity: 1;
  overflow: visible;
  padding-bottom: 0;
  padding-top: 0;
}
