/*------------------------------------*\
    $LOADERS
\*------------------------------------*/

.loader {
  justify-content: center;
  display: flex;

  &__lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;

    &__dot {
      position: absolute;
      top: 27px;
      width: 11px;
      height: 11px;
      border-radius: 50%;
      background: #af1e2d;
      animation-timing-function: cubic-bezier(0, 1, 1, 0);
    }

    &__dot:nth-child(1) {
      left: 6px;
      animation: lds-ellipsis1 0.6s infinite;
    }
    &__dot:nth-child(2) {
      left: 6px;
      animation: lds-ellipsis2 0.6s infinite;
    }
    &__dot:nth-child(3) {
      left: 26px;
      animation: lds-ellipsis2 0.6s infinite;
    }
    &__dot:nth-child(4) {
      left: 45px;
      animation: lds-ellipsis3 0.6s infinite;
    }

  }

  &__lds-ellipsis--action-loading {
    @extend  .loader__lds-ellipsis;
    height: 20px;

    &__dot {
      @extend .loader__lds-ellipsis__dot;
      top: 7px;
      width: 5.5px;
      height: 5.5px;
    }
  }

  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(19px, 0);
    }
  }
}


